@import 'config';
@import 'utilities';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: $background-color;
  color: $secondary-color;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $third-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navbar
.navbar {
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $secondary-color;
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    color: $primary-color;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $fourth-color;
    }
  }
}

// Home
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  padding: 0 4rem;

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-text {
      color: $primary-color;
    }
  }
  @media (min-width: 900px) {
    &-inner {
      max-width: 50vw;
    }
  }

  .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 60%;
    .myPhoto {
      width: 350px;
      height: 350px;
      border-radius: 15px;
    }
  }
  @media (max-width: 900px) {
    padding: 2rem;
  }
  @media (max-width: 750px) {
    padding: 4rem;

    .photo {
      display: none;
    }
  }
}

.projects-section {
  background: $fourth-color;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  padding-bottom: 4rem;
}
.project {
  position: relative;
  width: 400px;
  height: 450px;
  margin: 2rem;

  &-box {
    padding: 1.5rem;
    height: 100%;
  }

  &-front,
  &-back {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backface-visibility: hidden;
    transition: transform 800ms;
    border-radius: 15px;
  }

  &-front {
    background: $background-color;
    color: $primary-color;
    transform: perspective(900px) rotateY(0deg);
  }

  &:hover {
    .project-front {
      transform: perspective(900px) rotateY(-180deg);
    }
  }
  &-back {
    background: $third-color;
    color: $primary-color;

    .project-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    transform: perspective(900px) rotateY(180deg);
  }

  &:hover {
    .project-back {
      transform: perspective(900px) rotateY(0deg);
    }
  }

  &-title {
    text-align: center;
  }

  &-picture {
    margin: 1rem 0;
  }

  &-buttons {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;

    .btn {
      color: $primary-color;
    }

    .btn:hover {
      color: $fourth-color;
    }
  }

  &-technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
  }
  &-logo {
    width: 50px;
    padding: 5px;

    &:hover {
      width: 60px;
    }
  }
}

.technologies {
  &-section {
    padding-bottom: 4rem;
  }
  &-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-logo {
    width: 140px;
    height: 140px;
    border: solid 1px $third-color;
    border-radius: 15px;
    padding: 1.5rem;
    margin: 1rem;
    background: $primary-color;

    &:hover {
      background: $fourth-color;
      border: solid 2px $third-color;
    }
  }

  @media (max-width: 700px) {
    &-logo {
      width: 100px;
      height: 100px;
      padding: 0.8rem;
      margin: 0.6rem;
    }
  }
}

.contact {
  background: $fourth-color;
  padding-bottom: 4rem;
  // min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-wrapper {
    display: flex;
    flex-direction: row;

    color: $background-color;
  }

  &-info {
    padding: 1rem;
  }

  .form {
    width: 40vw;
    &-group {
      margin: 1.2rem 0;
    }
    &-text {
      display: block;
      margin-top: 0.3rem;
    }

    input[type='text'],
    input[type='email'],
    button[type='submit'],
    textarea {
      display: block;
      width: 100%;
      padding: 0.4rem;
      font-size: 1.2rem;
      border: 1px solid $secondary-color;
      color: $third-color;
      font-family: 'Lato', sans-serif;
    }

    button[type='submit'] {
      color: $secondary-color;
    }

    button[type='submit']:hover {
      border: 1px solid $third-color;
      color: $third-color;
    }
  }

  @media (max-width: 700px) {
    &-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

.footer {
  // height: 3rem;
  // display: flex;

  // justify-content: center;

  &-buttons {
    display: flex;
    justify-content: center;
    font-size: 2rem;

    .btn {
      color: $third-color;
      padding: 1rem;
    }

    .btn:hover {
      color: $fourth-color;
    }
  }
}
