@import 'config';
@import 'utilities';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: $background-color;
  color: $secondary-color;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $third-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navbar
.navbar {
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  top: 0;
  border-bottom: solid 1px $secondary-color;
  opacity: 0.9;
  transition: 0.5s;

  ul {
    display: flex;
  }

  a {
    color: $primary-color;
    padding: 0.45rem;
    margin: 0 0.25rem;
    font-weight: bold;

    &:hover {
      color: $third-color;
    }
  }
  &-home {
    font-size: 1.4rem;
  }
  @media (max-width: 450px) {
    a {
      font-size: 0.8rem;
    }
    &-home {
      font-size: 1rem;
    }
  }
  @media (max-width: 350px) {
    font-size: 0.6rem;
    padding: 0.7rem 1rem;

    a {
      color: $primary-color;
      padding: 0.25rem;
      margin: 0 0.15rem;
      font-weight: bold;
    }
    &-home {
      font-size: 0.8rem;
    }
  }
}

// Home
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  padding: 0 4rem;

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1.5rem;

    &-text {
      color: $primary-color;
      text-align: justify;
    }
  }
  @media (min-width: 900px) {
    &-inner {
      max-width: 50vw;
    }
  }

  &-subheader {
    font-size: 2.5rem;
    color: $primary-color;
  }

  &-text {
    font-size: 1.5rem;
    @media (max-width: 1100px) {
      font-size: 1.2rem;
    }

    @media (max-width: 650px) {
      font-size: 1.1rem;
    }
    @media (max-width: 450px) {
      font-size: 1rem;
    }
  }

  .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 60%;
    .myPhoto {
      width: 350px;
      height: 350px;
      border-radius: 15px;
    }
  }
  @media (max-width: 900px) {
    padding: 2rem;
  }
  @media (max-width: 750px) {
    padding: 4rem;

    .photo {
      display: none;
    }
  }
  @media (max-width: 550px) {
    padding: 2rem;
    &-inner {
      padding-right: 0;
    }
  }
}

.projects-section {
  background: url('../img/back.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  padding-bottom: 4rem;

  &-subheader {
    color: $primary-color;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: justify;
    padding: 2rem;
    border: 1px solid $primary-color;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);

    &-btn:hover {
      color: $secondary-color;
    }

    @media (max-width: 1200px) {
      font-size: 1.2rem;
      max-width: 80%;
    }

    @media (max-width: 750px) {
      font-size: 1rem;
      max-width: 80%;
      padding: 1rem;
    }
  }

  @media (max-width: 450px) {
    padding-bottom: 2rem;
  }
}
.project {
  position: relative;
  width: 400px;
  height: 450px;
  margin: 2rem;

  &-box {
    padding: 1.5rem;
    height: 100%;
  }

  &-front,
  &-back {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backface-visibility: hidden;
    transition: transform 800ms;
    border-radius: 15px;
  }

  &-front {
    background: $background-color;
    color: $primary-color;
    text-align: justify;
    font-size: 1.2rem;
    transform: perspective(900px) rotateY(0deg);
  }

  &:hover {
    .project-front {
      transform: perspective(900px) rotateY(-180deg);
    }
  }
  &-back {
    background: $third-color;
    color: $primary-color;

    .project-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .project-title {
      color: $primary-color;
    }

    transform: perspective(900px) rotateY(180deg);
  }

  &:hover {
    .project-back {
      transform: perspective(900px) rotateY(0deg);
    }
  }

  &-title {
    text-align: center;
    color: $third-color;
  }

  &-picture {
    margin: 1rem 0;
  }

  &-buttons {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;

    .btn {
      color: $primary-color;
    }

    .btn:hover {
      color: $secondary-color;
    }
  }

  &-technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
  }
  &-logo {
    width: 50px;
    padding: 5px;

    &:hover {
      width: 60px;
    }
  }

  @media (max-width: 450px) {
    position: relative;
    width: 350px;
    height: 450px;
    margin: 1rem;

    &-front {
      font-size: 1.1rem;
    }
  }
  @media (max-width: 350px) {
    width: 300px;
    margin: 0.8rem;
    &-front {
      font-size: 1rem;
    }
  }
}

.technologies {
  &-section {
    padding-bottom: 4rem;
  }
  &-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-logo {
    width: 140px;
    height: 140px;
    border: solid 1px $third-color;
    border-radius: 15px;
    padding: 1.5rem;
    margin: 1rem;
    background: $primary-color;

    &:hover {
      background: $fourth-color;
      border: solid 2px $third-color;
    }
  }

  @media (max-width: 700px) {
    &-logo {
      width: 100px;
      height: 100px;
      padding: 0.8rem;
      margin: 0.6rem;
    }
  }

  @media (max-width: 400px) {
    &-logo {
      width: 80px;
      height: 80px;
      padding: 0.8rem;
      margin: 0.6rem;
    }
  }
}

.contact {
  background: url('../img/contact.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-wrapper {
    display: flex;
    flex-direction: row;
    color: $primary-color;

    @media (max-width: 1100px) {
      padding: 0 4rem;
    }
    @media (max-width: 850px) {
      padding: 0 2rem;
    }
  }

  &-info {
    padding: 1rem;
    padding-right: 2rem;
  }

  &-subheader {
    font-size: 1.5rem;
  }

  &-list {
    padding-top: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-list-item {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: $primary-color;

    &:hover {
      color: $third-color;
    }
  }

  .form {
    width: 40vw;
    &-group {
      margin: 1.2rem 0;
    }

    input[type='text'],
    input[type='email'],
    button[type='submit'],
    textarea {
      display: block;
      width: 100%;
      padding: 0.4rem;
      font-size: 1.2rem;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      color: $third-color;
      font-family: 'Raleway', sans-serif;
    }

    button[type='submit'] {
      color: $secondary-color;
    }

    button[type='submit']:hover {
      border: 1px solid $third-color;
      color: $third-color;
    }
  }

  @media (max-width: 720px) {
    &-wrapper {
      display: flex;
      flex-direction: column;
    }
    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 450px) {
    &-wrapper {
      padding: 0 1rem;
    }
    &-info {
      width: 100%;
      padding: 0 0.5rem;
    }

    &-subheader {
      font-size: 1.3rem;
    }

    &-list {
      padding-top: 1rem;
      font-weight: normal;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &-list-item {
      padding: 0.5rem 0;
      font-size: 1.5rem;
    }
    .form {
      &-group {
        margin: 0.8rem 0;
      }
    }
  }

  @media (max-width: 350px) {
    font-size: 1rem;

    &-list {
      padding-top: 1rem;
      font-weight: normal;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &-list-item {
      padding: 0.5rem 0;
      font-size: 1.2rem;
    }
  }
}

.footer {
  &-buttons {
    display: flex;
    justify-content: center;
    font-size: 2rem;

    .btn {
      color: $third-color;
      padding: 1rem;
    }

    .btn:hover {
      color: $primary-color;
    }
  }
}
